<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners.Listener" />
        <listener class-name="utils.ExtentReports.ExtentReporterNG" />
    </listeners>
    <test verbose="2" preserve-order="true" name="E:/TestAuto/BackStage-master/src/test/java/tests.LoginTest.java">
        <classes>
            <class name="tests.LoginTest" />
        </classes>
    </test>
</suite>