<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <listener class-name="util.ScreenShotTestNg"/>
    </listeners>
    <test name="Regression test">
        <classes>
            <class name="MethodTest.VerifiedTest" />
        </classes>
    </test>
</suite>