<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo">
    <!-- ReportNG监听器-->
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <!--<listener class-name="com.edusoho.util.ScreenFailtureListener"/>-->
    </listeners>

   <!-- <test name="Demo1" verbose="2"  preserve-order="true">
      <classes>
          <class name="Demo1" />
      </classes>
    </test>-->

   <!-- <test name="Demo2" verbose="2"  preserve-order="true">   &lt;!&ndash;true表示按照顺序执行&ndash;&gt;
        <classes>
            <class name="Demo2" />
        </classes>
    </test>-->

    <test name="POS" verbose="2"  preserve-order="true">   <!--true表示按照顺序执行-->
        <classes>
            <class name="RunTestCase" />
        </classes>
    </test>


</suite>